@import url('https://fonts.googleapis.com/css2?family=Kaisei+Tokumin:wght@700&family=Yomogi&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Yomogi', cursive;
}

@media only screen and (min-width: 320px) {

    html,
    body {
        width: 100%;
    }
}

@media only screen and (min-width: 1024px) {

    html,
    body {
        width: 100%;

    }

    #head {
        background-image: url(../images/hotel_01.png);
        background-repeat: no-repeat;
        background-size: cover;
        height: 1529px;
        margin: 0 auto;
        position: relative;
    }

    .title-top {
        right: 20%;
        bottom: 2%;
        text-align: center;
    }

    .navbar-daun {
        width: 30%;
        position: absolute;

    }

    .navi-scroll {
        position: sticky;
        top: 90px;
        margin: 40px auto;
    }

    .taizai {
        font-family: 'Yomogi', cursive;
        color: #FF9801;
        text-decoration: none;
    }

    .mamak {
        font-family: 'Yomogi', cursive;
        color: #FF9801;
        text-decoration: none;
    }

    .kyapu {
        font-family: 'Yomogi', cursive;
        color: #FF9801;
        text-decoration: none;
    }

    .saiko {
        font-family: 'Yomogi', cursive;
        color: #FF9801;
        text-decoration: none;
    }

    .hoteru {
        position: relative;
        background: url(../images/taizai.jpg) no-repeat;
        display: flex;
        background-size: contain;
        padding: 94px;
        padding-left: 90px;
    }

    .hoteru-left {
        width: 50%;

    }

    p {
        font-size: 30px;
        text-align: center;
    }

    .hoteru-right {
        width: 40%;
        z-index: 1;
        margin-left: 115px;
        margin-top: -50px;
    }


    .hoteru h3 {
        position: sticky;
        font-size: 32px;
        font-family: 'Yomogi', cursive;
        text-align: center;
        color: #ff6c00;
        text-shadow: 4px 3px 4px #c4cecf;
        font-family: 'Kaisei Tokumin', serif;
    }

    .hoteru-right img {
        width: 50%;
    }

    .slider-text {
        overflow: hidden;
    }

    .slider-text-wrapper .swiper-slide {
        width: 100%;
    }

    .text {
        position: absolute;
        top: 40%;
        left: 70%;
        font-size: 25px;
        transform: translate(-50%, -50%);
        text-transform: uppercase !important;
        z-index: 999;
    }

    .testSwiper .swiper-slide-shadow {
        background: none;
    }

    .testSwiper .swiper-slide img {
        width: 100%;
    }

    #navbar ul {
        display: flex;
        justify-content: center;

        align-items: center;
        list-style: none;
        gap: 50px;
        background: white;
        border: solid 4px #a6dcef;
        border-radius: 10px;
        width: 900px;
        margin: 0 auto;
        padding: 20px 30px;
        box-shadow: 5px 6px 6px rgb(189 189 189);
    }

    .element {
        position: absolute;
        top: 0;
        z-index: 1;
        height: 100%;
        width: 100%;
    }

    .washitape01 {
        position: absolute;
        top: 30px;
        scale: 1.2;
        right: 919px;
    }

    .washitape02 {
        position: absolute;
        bottom: 26px;
        scale: 1.2;
        left: -97px;
    }

    .asset {
        background-image: url(../images/assetfam_06.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        height: 871px;
        width: 100%;
        margin-top: -10%;

    }

    .link-1 {
        text-align: center;
        padding-top: 2.5%;
    }


    .button-1 {
        position: absolute;
        left: 55%;
        margin-top: -14%;
    }

    .button-1:hover {
        transform: translateY(-5px);
    }

    .link-2 {
        text-align: center;
        position: static;
        margin-top: -2%;
        margin-left: 2.5%;
    }

    .button-2 {
        position: absolute;
        left: 55%;
        margin-top: -12%;
    }

    .button-2:hover {
        transform: translateY(-5px);
    }

    .mama {
        background-image: url(../images/bg-mama.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        text-align: center;
        height: 818px;
        width: 100%;
        z-index: 1;
    }

    .title-mama {
        position: relative;
        top: -12%;
    }

    .kolase {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }


    .grid {
        justify-content: center;

        z-index: 1;
    }

    .sun {
        margin-top: -10%;
        left: 7%;
        position: absolute;
    }

    .star {
        position: absolute;
        left: 79%;
        margin-top: -50%;
        z-index: 1;
    }

    .crab {
        position: absolute;
        left: 10%;
        margin-top: -30%;
        z-index: 1;
    }

    .suika {
        position: absolute;
        left: 75%;
        margin-top: -6%;
        z-index: 1;
    }

    .link-3 {
        background-image: url(../images/eskrim.png);
        background-repeat: no-repeat;
        background-size: cover;
        justify-content: center;
        width: 100%;
        height: 426px;
    }

    .button-3 {
        position: absolute;
        top: 30%;
        left: 60%;
    }

    .button-3:hover {
        transform: translateY(-5px);
    }

    .line {
        position: absolute;
        top: 525%;
        left: -2.5%;
    }

    .hotelcap {
        background-image: url(../images/kyanpu.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        height: 534px;
        margin-top: 99%;
    }

    .title-kyapu {
        position: absolute;
        top: 540%;
        left: 27%;
    }

    .minna {
        position: absolute;
        top: 563%;
        left: 40%;
    }

    .text-desc p {
        text-align: center;
        font-size: 30px;
        padding: 13%;
    }

    .gel {
        position: absolute;
        left: 82%;
        top: 577%;
    }

    .ban {
        position: absolute;
        left: 9%;
        top: 700%;
    }

    .glasses {
        position: absolute;
        left: 74.8%;
        top: 695%;
    }

    .swiper-camp {
        margin-top: 85%;
        width: 90%;
        overflow: hidden;
        position: relative;
        left: 5%;
        margin-top: -39%;
    }

    .swiper-camp .swiper-slide {
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
    }

    .swiper-slide img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .swiper-pagination {
        top: 660%;
    }

    .swiper-pagination-bullet-active {
        background-color: #ff6c00;
    }

    .link-4 {
        top: 670%;
        left: 23%;
        position: absolute;
    }

    .button-4 {
        position: absolute;
        left: 62%;
        top: 680%;
    }

    .button-4:hover {
        transform: translateY(-5px);
        transition: ease-in;
    }

    .link-5 {
        position: absolute;
        left: 23%;
        top: 700%;
    }

    .button-5 {
        position: absolute;
        left: 62%;
        top: 710%;
    }

    .button-5:hover {
        transform: translateY(-5px);
    }

    .bufee {
        background-image: url(../images/bg-saikou.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        height: 797px;
        width: 100%;
        margin-top: 74%;
    }

    #saiko {
        position: absolute;
        top: 753%;
        left: 20%;
    }

    .title-saiko {
        position: absolute;
        top: 768%;
        left: 16%;
    }

    .swiper-saiko {
        width: 900px;
        height: auto;
        margin-top: -35%;
        margin-left: 26.5%;
        overflow: hidden;
    }

    .swiper-saiko .swiper-slide {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .frame {
        position: absolute;
        top: 838%;
        left: 68%;
        z-index: 1;
    }

    .frame-2 {
        position: absolute;
        top: 783%;
        left: 23%;
        z-index: 1;
    }

    .desc {
        text-align: center;
        font-size: 30px;
        margin-top: 7%;
    }

    .stars {
        position: absolute;
        top: 884%;
        left: 40%;
    }

    .stars p {
        text-align: center;
        font-size: 30px;
        margin-top: 2%;
    }

    .line-red {
        position: absolute;
        top: 903%;
        left: 23%;
    }

    .desc-saiko-2 {
        text-align: center;
        font-size: 30px;
        margin-top: 13.5%;
    }

    .text-note {
        text-align: center;
        font-size: 30px;
        margin-top: 1%;
    }

    .kupon {
        background-image: url(../images/bg-coupon.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        height: 715px;
        width: 100%;

    }

    .ending {
        background-image: url(../images/bg-end.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        height: 528px;
        width: 100%;
    }

    .coupon {
        position: absolute;
        top: 950%;
        left: 37%;
    }

    .jal {
        position: absolute;
        top: 975%;
        left: 17%;
    }

    .ana {
        position: absolute;
        top: 975.5%;
        left: 55%;
    }

    .plan {
        position: absolute;
        top: 1010%;
        left: 37%;
    }

    .coupon:hover {
        opacity: 70%;
    }

    .jal:hover {
        opacity: 70%;
    }

    .ana:hover {
        opacity: 70%;
    }

    .plan:hover {
        opacity: 70%;
    }
}